body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
  }
  p {
    font-size: 12px;
  }
}
